<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Principal" value="asf-dev-diffusion-globaladmin"/>
		<add key ="Password" value="M7hQS5UgjaWh55EEhMyCrkmse3UHd5dARg7ZYw3yBEymuZrau6td9mAfWuqmR3FurLV569RJqyeFDeJpsVGK4BCaSz3SnTP9KrYRdCmszhVG3TQRyDkYS9yTLhTXLMnY"/>
		<add key ="Host" value="wss://d1-msa-angstrom.eu.diffusion.cloud/"/>
		</appSettings>
</configuration>